body {
    background-color: black
    
}

.instagram {
    font-family: "Lobster", sans-serif;
    color: white;
}
img {
    height: 50px
    
}
.flex-container {
    display: flex;
    /* flex-direction: column; */
    background-color: black;
    /* always start on the main axis
    justify-content: space-between;
    /* always on the cross access */
    align-items: flex-end; 
    /* flex-wrap: wrap; */
}
.pfp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}
.content {
    display: flex;
    justify-content: flex-end;
    
}
